
.ga-header {
  position: fixed;
  width: 100%;
  z-index: 10;
  nav {
    background-color: #000000;
    .navbar-menu {
      background-color: #000000;
      .navbar-item{
        margin: 0 0.2rem;
      }
      .navbar-end{
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            height: 54px;
          }
        }
      }
    }
  }
}

.site-content{
  margin-top: 3rem;
}